<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.dao.BlogLinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.site.blog.entity.BlogLink">
        <id column="link_id" property="linkId" />
        <result column="link_type" property="linkType" />
        <result column="link_name" property="linkName" />
        <result column="link_url" property="linkUrl" />
        <result column="link_description" property="linkDescription" />
        <result column="link_rank" property="linkRank" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        link_id, link_type, link_name, link_url, link_description, link_rank, is_deleted, create_time
    </sql>

</mapper>
