<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.dao.BlogTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.site.blog.entity.BlogTag">
        <id column="tag_id" property="tagId" />
        <result column="tag_name" property="tagName" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tag_id, tag_name, is_deleted, create_time
    </sql>

</mapper>
