<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.dao.BlogCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.site.blog.entity.BlogComment">
        <id column="comment_id" property="commentId" />
        <result column="blog_id" property="blogId" />
        <result column="commentator" property="commentator" />
        <result column="email" property="email" />
        <result column="website_url" property="websiteUrl" />
        <result column="comment_body" property="commentBody" />
        <result column="comment_create_time" property="commentCreateTime" />
        <result column="commentator_ip" property="commentatorIp" />
        <result column="reply_body" property="replyBody" />
        <result column="reply_create_time" property="replyCreateTime" />
        <result column="comment_status" property="commentStatus" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, blog_id, commentator, email, website_url, comment_body, comment_create_time, commentator_ip, reply_body, reply_create_time, comment_status, is_deleted
    </sql>

</mapper>
