<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.dao.BlogCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.site.blog.entity.BlogCategory">
        <id column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="category_icon" property="categoryIcon" />
        <result column="category_rank" property="categoryRank" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id, category_name, category_icon, category_rank, is_deleted, create_time
    </sql>

</mapper>
